.sketch {
	width: 75%;
}
#stacked-area-chart-text,#bar-chart-text{
	fill:black;
	font-size: 20px;
	font-weight: bold;
}
.piechart-label,.barchart-label, .stackedareachart-label, .title{
	fill: black;
	font-size: 20px;
	font-weight: bold;
}
body{
	background-color: #EAEDED;
}
.selected {
	stroke: black;
}

#dropdown{
	width: 50%;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-left:250px;
}
#tick-text{
	fill:black;
	font-size: 15px;
	font-weight: bold;
}
#bar-chart{
	width:1200px;
	height: 600px;
}

.d3-tip {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 15px;
    min-height: 30px;
    border-style: ridge;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    display: inline;
    font-size: 10px;
    width: 100%;
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\26A0";
    top: -800px;
    left: -8px;
}
